<div class="mb-1">
    {form_label($label, $name, ['class' => 'form-label text-uppercase'])|noescape}
    {form_dropdown($name, $option, $value, ['class' => 'form-select select2', !$search ? 'data-minimum-results-for-search' => 'Infinity'])|noescape}
</div>